# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Prisma
backend/prisma/*.db
backend/prisma/migrations/dev.db*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp

# Test / coverage
coverage/
.nyc_output/

# Vite
frontend/dist/

# Yuklangan rasmlar
backend/uploads/
